.s4{
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-color: #FF9249;
}

.s4-area{
  margin: 0 auto;
  margin-left: 100px;
  margin-right: 100px;
  height: 200px;
  display: flex;
}

.s4-text-container{
  flex: 1;
}

.s4-text-area{
  height: 100px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.s4-text1{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.s4-text1{
  font-size: 60px;
  color: white;
}

.s4-text2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  color: white;
}

@media screen and (max-width: 920px) {
  .s4-area{
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
    height: fit-content;
    display: flex;
    overflow-x: auto; /* 添加水平滚动条 */
    white-space: nowrap; /* 防止内容换行 */
  }
  .s4-text-area{
    height: fit-content;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }

  .s4-text-container{
    flex: 1;
  }


  
}
