body{
  max-width: 1450px;
  margin: 0 auto; /* 水平居中 */
  width: 100%; /* 设置最大宽度为1395px，并允许随着屏幕大小缩放 */
  background-color: #ffffff;

}


.nv-bar{
  display: flex;
  border-bottom: 1px solid #d8d8d8;
  height: 60px;
  padding-left: 100px;
  padding-right: 100px;
}


.nv-logo{
  height: 60px;
  width: 175px;
  border-right: 1px solid #d8d8d8;
}

.nv-btext{
  cursor: pointer; /* 当鼠标悬停时变成手指 */
  height: 60px;
  width: 120px;
  border-right: 1px solid #d8d8d8;
}

.nv-ht{
  margin-top: 21px;
  margin-bottom: 21px;
  text-align: center;
  
}

.logo-i{
  cursor: pointer; /* 当鼠标悬停时变成手指 */
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 150px;
}

.nv-l{
  display: flex;
  width: 400px;
  height: 60px;
}

.p-nv-btext{
  display: none;
}

.nv-l-t{
  cursor: pointer; /* 当鼠标悬停时变成手指 */
  width: 19%;
  margin-top: 21px;
  margin-bottom: 21px;
  display: inline-block;
  text-align: center;
}

#nv-instructions{
  width: 23%;
}

.nv-m{
  flex: 1;
}

.nv-r{
  display: flex;
  width: 175px;
  height: 60px;
  text-align: right;
}

.nv-rb{
  text-align: center;
  cursor: pointer; /* 当鼠标悬停时变成手指 */
  width: 24%;
  margin-top: 19px;
  margin-bottom: 19px;
}

.b-nv-l{
  display: none;
}

.header-area{
  display: flex;
  height: 525px;
  margin-left: 100px;
  margin-right: 100px;
}


.header-l{
  flex: 1;
  width: 49.5%;
  height: 525px;
}

.header-text-area{
  margin-top: 100px;
  margin-bottom: 100px;
  display: block;
  width: 100%;
  height: 325px;
}

.small-header-text{
  height: 20px;
}

.big-header-text{
  font-size: 50px;
  height: fit-content;
}

.orange{
  color: #FF9249;

}

#h-text-2{
  margin-top: 20px;
  height: 40px;
}

.header-search{
  display: flex;
  height: 50px;
  margin-top: 30px;
}

.header-search-bar{
  width: 60%;
  height: 90%;
  border-radius: 25px 0px 0px 25px;
  border:  1px solid #d8d8d8;
}

.header-search-text{
  text-align: center;
  width: 150px;
  height: 50px;
  background-color:#FF9249;
  border-radius: 0px 25px 25px 0px;
}

.search-text{
  color: #ffffff;
}

.header-r{
  flex: 1;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  width: 49.5%;
  height: 525px;
}

.header-image{
  justify-content: center;
  height: 100%;
}





@media screen and (max-width: 920px) {

  body {
    width: 100%;
  }

  .nv-bar{
    display: flex;
    border-bottom: 1px solid #d8d8d8;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nv-logo{
    height: 60px;
    width: 175px;
    border-right: none;
  }

  .logo-i{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
  }

  .nv-l{
    display: none;
  }

  .nv-b{
    display: flex;
    height: 50px;
    border-bottom: 1px solid #d8d8d8;
  }

  .nv-btext{
    display: none;
  }

  .p-nv-btext{
    display: inline-block;
    height: 50px;
    width: 120px;
    border-right: 1px solid #d8d8d8;
  }

  .nv-ht{
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
  }

  .p-nv-button{
    flex: 1;
    display: flex;
    overflow-x: auto; /* 当内容溢出时显示滚动条 */
    white-space: nowrap; /* 防止内容换行 */
  }

  .p-nv-button-content{
      width: 400px;
  }

  .b-nv-l{
    display: flex;
  width: 400px;
  height: 60px;
  }

  .header-area{
    display: block;
    height: 385px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .header-l{
    display: block;
    width: 100%;
    height: 385px;
  }

  .header-text-area{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    height: 325px;
  }
  
  .big-header-text{
    font-size: 50px;
    height: fit-content;
  }

  .header-r{
    display: none;
  }

  
  

  


}